In [18]:
#Connor Boos 
#Assignment 3

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import scipy as sci
from scipy.stats import ttest_ind
import seaborn as sns

Problem #1

In [56]:
list_1 = ['a','b','e']
list_2 = ['a','b','c','e']
list_3 = ['a','b','c','e']
list_4 = ['a','c','d','e']
list_5 = ['b','c','d','e']
list_6 = ['c','d','e']
list_7 = ['c','e']
list_8 = ['a','d','e']
list_9 = ['a','d','e']
list_10 = ['a','b','c']

In [57]:
item_data = {'Transaction': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Items brought': [list_1, list_2, list_3, list_4, list_5, list_6, list_7, list_8, list_9, list_10]}

In [58]:
item_df = pd.DataFrame(data=item_data)

In [59]:
item_df

   Transaction Items brought
0            1     [a, b, e]
1            2  [a, b, c, e]
2            3  [a, b, c, e]
3            4  [a, c, d, e]
4            5  [b, c, d, e]
5            6     [c, d, e]
6            7        [c, e]
7            8     [a, d, e]
8            9     [a, d, e]
9           10     [a, b, c]

In [61]:
from mlxtend.preprocessing import TransactionEncoder

#oht_ary = te.fit(titanic).transform(titanic, sparse=True)
#sparse_df = pd.SparseDataFrame(te_ary, columns=te.columns_, default_fill_value=False)
#sparse_df

te_2 = TransactionEncoder()
te_ary_2 = te_2.fit(item_df).transform(item_df)

df2 = pd.DataFrame(te_ary_2)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,False,False,True,True,False,True,False,False,False,True,False,True,True,True,True,True,False
1,True,True,False,False,True,False,True,True,True,False,True,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [66]:
from mlxtend.frequent_patterns import apriori
#apriori(df, min_support=0.5, use_colnames=False, max_len=None, n_jobs=1)
apriori(df2, min_support=.2, use_colnames=True)
#apriori(sparse_df, min_support=0.003, use_colnames=True)

    support          itemsets
0       0.2              (12)
1       0.2              (13)
2       0.2              (14)
3       0.2              (15)
4       0.2          (12, 13)
5       0.2          (12, 14)
6       0.2          (12, 15)
7       0.2          (13, 14)
8       0.2          (13, 15)
9       0.2          (14, 15)
10      0.2      (12, 13, 14)
11      0.2      (12, 13, 15)
12      0.2      (12, 14, 15)
13      0.2      (13, 14, 15)
14      0.2  (12, 13, 14, 15)

In [68]:
frequent_itemsets_2 = apriori(df2, min_support=0.2, use_colnames=True)
frequent_itemsets_2['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets_2

    support          itemsets  length
0       0.2              (12)       1
1       0.2              (13)       1
2       0.2              (14)       1
3       0.2              (15)       1
4       0.2          (12, 13)       1
5       0.2          (12, 14)       1
6       0.2          (12, 15)       1
7       0.2          (13, 14)       1
8       0.2          (13, 15)       1
9       0.2          (14, 15)       2
10      0.2      (12, 13, 14)       2
11      0.2      (12, 13, 15)       2
12      0.2      (12, 14, 15)       2
13      0.2      (13, 14, 15)       2
14      0.2  (12, 13, 14, 15)       2

In [70]:
from mlxtend.frequent_patterns import association_rules

association2 = association_rules(frequent_itemsets_2, metric="confidence", min_threshold=0.7)

In [71]:
association2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(12),(13),0.2,0.2,0.2,1.0,5.0,0.16,inf
1,(13),(12),0.2,0.2,0.2,1.0,5.0,0.16,inf
2,(12),(14),0.2,0.2,0.2,1.0,5.0,0.16,inf
3,(14),(12),0.2,0.2,0.2,1.0,5.0,0.16,inf
4,(12),(15),0.2,0.2,0.2,1.0,5.0,0.16,inf
5,(15),(12),0.2,0.2,0.2,1.0,5.0,0.16,inf
6,(13),(14),0.2,0.2,0.2,1.0,5.0,0.16,inf
7,(14),(13),0.2,0.2,0.2,1.0,5.0,0.16,inf
8,(13),(15),0.2,0.2,0.2,1.0,5.0,0.16,inf
9,(15),(13),0.2,0.2,0.2,1.0,5.0,0.16,inf
10,(14),(15),0.2,0.2,0.2,1.0,5.0,0.16,inf
11,(15),(14),0.2,0.2,0.2,1.0,5.0,0.16,inf
12,"(12, 13)",(14),0.2,0.2,0.2,1.0,5.0,0.16,inf
13,"(12, 14)",(13),0.2,0.2,0.2,1.0,5.0,0.16,inf
14,"(13, 14)",(12),0.2,0.2,0.2,1.0,5.0,0.16,inf
15,(12),"(13, 14)",0.2,0.2,0.2,1.0,5.0,0.16,inf
16,(13),"(12, 14)",0.2,0.2,0.2,1.0,5.0,0.16,inf
17,(14),"(12, 13)",0.2,0.2,0.2,1.0,5.0,0.16,inf
18,"(12, 13)",(15),0.2,0.2,0.2,1.0,5.0,0.16,inf
19,"(12, 15)",(13),0.2,0.2,0.2,1.0,5.0,0.16,inf
20,"(13, 15)",(12),0.2,0.2,0.2,1.0,5.0,0.16,inf
21,(12),"(13, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
22,(13),"(12, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
23,(15),"(12, 13)",0.2,0.2,0.2,1.0,5.0,0.16,inf
24,"(12, 14)",(15),0.2,0.2,0.2,1.0,5.0,0.16,inf
25,"(12, 15)",(14),0.2,0.2,0.2,1.0,5.0,0.16,inf
26,"(14, 15)",(12),0.2,0.2,0.2,1.0,5.0,0.16,inf
27,(12),"(14, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
28,(14),"(12, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
29,(15),"(12, 14)",0.2,0.2,0.2,1.0,5.0,0.16,inf
30,"(13, 14)",(15),0.2,0.2,0.2,1.0,5.0,0.16,inf
31,"(13, 15)",(14),0.2,0.2,0.2,1.0,5.0,0.16,inf
32,"(14, 15)",(13),0.2,0.2,0.2,1.0,5.0,0.16,inf
33,(13),"(14, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
34,(14),"(13, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
35,(15),"(13, 14)",0.2,0.2,0.2,1.0,5.0,0.16,inf
36,"(12, 13, 14)",(15),0.2,0.2,0.2,1.0,5.0,0.16,inf
37,"(12, 13, 15)",(14),0.2,0.2,0.2,1.0,5.0,0.16,inf
38,"(12, 14, 15)",(13),0.2,0.2,0.2,1.0,5.0,0.16,inf
39,"(13, 14, 15)",(12),0.2,0.2,0.2,1.0,5.0,0.16,inf
40,"(12, 13)","(14, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
41,"(12, 14)","(13, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
42,"(12, 15)","(13, 14)",0.2,0.2,0.2,1.0,5.0,0.16,inf
43,"(13, 14)","(12, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
44,"(13, 15)","(12, 14)",0.2,0.2,0.2,1.0,5.0,0.16,inf
45,"(14, 15)","(12, 13)",0.2,0.2,0.2,1.0,5.0,0.16,inf
46,(12),"(13, 14, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
47,(13),"(12, 14, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
48,(14),"(12, 13, 15)",0.2,0.2,0.2,1.0,5.0,0.16,inf
49,(15),"(12, 13, 14)",0.2,0.2,0.2,1.0,5.0,0.16,inf

Problem #2

In [19]:
titanic = pd.read_csv('titanic.csv', sep = ',', encoding = 'utf-8', header = None)
titanic.columns = titanic.iloc[0]

In [20]:
titanic = titanic.iloc[1:]
#titanic = titanic.drop(titanic.columns[2], axis=1)
#titanic = titanic.to_json()

In [21]:
titanic['new_age'] = "0-0"
titanic['new_fare'] = "0to10"

In [22]:
titanic

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,new_age,new_fare
1,0,3,Mr. Owen Harris Braund,male,22,1,0,7.25,0-0,0to10
2,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38,1,0,71.2833,0-0,0to10
3,1,3,Miss. Laina Heikkinen,female,26,0,0,7.925,0-0,0to10
4,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35,1,0,53.1,0-0,0to10
5,0,3,Mr. William Henry Allen,male,35,0,0,8.05,0-0,0to10
6,0,3,Mr. James Moran,male,27,0,0,8.4583,0-0,0to10
7,0,1,Mr. Timothy J McCarthy,male,54,0,0,51.8625,0-0,0to10
8,0,3,Master. Gosta Leonard Palsson,male,2,3,1,21.075,0-0,0to10
9,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27,0,2,11.1333,0-0,0to10
10,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14,1,0,30.0708,0-0,0to10
11,1,3,Miss. Marguerite Rut Sandstrom,female,4,1,1,16.7,0-0,0to10
12,1,1,Miss. Elizabeth Bonnell,female,58,0,0,26.55,0-0,0to10
13,0,3,Mr. William Henry Saundercock,male,20,0,0,8.05,0-0,0to10
14,0,3,Mr. Anders Johan Andersson,male,39,1,5,31.275,0-0,0to10
15,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14,0,0,7.8542,0-0,0to10
16,1,2,Mrs. (Mary D Kingcome) Hewlett,female,55,0,0,16,0-0,0to10
17,0,3,Master. Eugene Rice,male,2,4,1,29.125,0-0,0to10
18,1,2,Mr. Charles Eugene Williams,male,23,0,0,13,0-0,0to10
19,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,female,31,1,0,18,0-0,0to10
20,1,3,Mrs. Fatima Masselmani,female,22,0,0,7.225,0-0,0to10
21,0,2,Mr. Joseph J Fynney,male,35,0,0,26,0-0,0to10
22,1,2,Mr. Lawrence Beesley,male,34,0,0,13,0-0,0to10
23,1,3,Miss. Anna McGowan,female,15,0,0,8.0292,0-0,0to10
24,1,1,Mr. William Thompson Sloper,male,28,0,0,35.5,0-0,0to10
25,0,3,Miss. Torborg Danira Palsson,female,8,3,1,21.075,0-0,0to10
26,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,female,38,1,5,31.3875,0-0,0to10
27,0,3,Mr. Farred Chehab Emir,male,26,0,0,7.225,0-0,0to10
28,0,1,Mr. Charles Alexander Fortune,male,19,3,2,263,0-0,0to10
29,1,3,Miss. Ellen O'Dwyer,female,24,0,0,7.8792,0-0,0to10
30,0,3,Mr. Lalio Todoroff,male,23,0,0,7.8958,0-0,0to10
...,...,...,...,...,...,...,...,...,...,...
858,0,2,Mr. Frederick Edward Giles,male,21,1,0,11.5,0-0,0to10
859,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...,female,48,0,0,25.9292,0-0,0to10
860,0,3,Miss. Dorothy Edith Sage,female,14,8,2,69.55,0-0,0to10
861,0,2,Mr. John William Gill,male,24,0,0,13,0-0,0to10
862,1,2,Mrs. (Karolina) Bystrom,female,42,0,0,13,0-0,0to10
863,1,2,Miss. Asuncion Duran y More,female,27,1,0,13.8583,0-0,0to10
864,0,1,Mr. Washington Augustus II Roebling,male,31,0,0,50.4958,0-0,0to10
865,0,3,Mr. Philemon van Melkebeke,male,23,0,0,9.5,0-0,0to10
866,1,3,Master. Harold Theodor Johnson,male,4,1,1,11.1333,0-0,0to10
867,0,3,Mr. Cerin Balkic,male,26,0,0,7.8958,0-0,0to10
868,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,female,47,1,1,52.5542,0-0,0to10
869,0,1,Mr. Frans Olof Carlsson,male,33,0,0,5,0-0,0to10
870,0,3,Mr. Victor Vander Cruyssen,male,47,0,0,9,0-0,0to10
871,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,female,28,1,0,24,0-0,0to10
872,1,3,Miss. Adele Kiamie Najib,female,15,0,0,7.225,0-0,0to10
873,0,3,Mr. Alfred Ossian Gustafsson,male,20,0,0,9.8458,0-0,0to10
874,0,3,Mr. Nedelio Petroff,male,19,0,0,7.8958,0-0,0to10
875,0,3,Mr. Kristo Laleff,male,23,0,0,7.8958,0-0,0to10
876,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56,0,1,83.1583,0-0,0to10
877,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25,0,1,26,0-0,0to10
878,0,3,Mr. Johann Markun,male,33,0,0,7.8958,0-0,0to10
879,0,3,Miss. Gerda Ulrika Dahlberg,female,22,0,0,10.5167,0-0,0to10
880,0,2,Mr. Frederick James Banfield,male,28,0,0,10.5,0-0,0to10
881,0,3,Mr. Henry Jr Sutehall,male,25,0,0,7.05,0-0,0to10
882,0,3,Mrs. William (Margaret Norton) Rice,female,39,0,5,29.125,0-0,0to10
883,0,2,Rev. Juozas Montvila,male,27,0,0,13,0-0,0to10
884,1,1,Miss. Margaret Edith Graham,female,19,0,0,30,0-0,0to10
885,0,3,Miss. Catherine Helen Johnston,female,7,1,2,23.45,0-0,0to10
886,1,1,Mr. Karl Howell Behr,male,26,0,0,30,0-0,0to10
887,0,3,Mr. Patrick Dooley,male,32,0,0,7.75,0-0,0to10

In [23]:
titanic['Sex'] = titanic['Sex'].map({'female': '1', 'male': '0'})
#titanic['Age'].value_counts()
titanic['Age'] = pd.to_numeric(titanic.Age, errors='coerce')
titanic['Fare'] = pd.to_numeric(titanic.Fare, errors='coerce')

new_age = titanic['new_age']
new_fare = titanic['new_fare']

In [24]:
titanic

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,new_age,new_fare
1,0,3,Mr. Owen Harris Braund,0,22.0,1,0,7.2500,0-0,0to10
2,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,1,38.0,1,0,71.2833,0-0,0to10
3,1,3,Miss. Laina Heikkinen,1,26.0,0,0,7.9250,0-0,0to10
4,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,1,35.0,1,0,53.1000,0-0,0to10
5,0,3,Mr. William Henry Allen,0,35.0,0,0,8.0500,0-0,0to10
6,0,3,Mr. James Moran,0,27.0,0,0,8.4583,0-0,0to10
7,0,1,Mr. Timothy J McCarthy,0,54.0,0,0,51.8625,0-0,0to10
8,0,3,Master. Gosta Leonard Palsson,0,2.0,3,1,21.0750,0-0,0to10
9,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,1,27.0,0,2,11.1333,0-0,0to10
10,1,2,Mrs. Nicholas (Adele Achem) Nasser,1,14.0,1,0,30.0708,0-0,0to10
11,1,3,Miss. Marguerite Rut Sandstrom,1,4.0,1,1,16.7000,0-0,0to10
12,1,1,Miss. Elizabeth Bonnell,1,58.0,0,0,26.5500,0-0,0to10
13,0,3,Mr. William Henry Saundercock,0,20.0,0,0,8.0500,0-0,0to10
14,0,3,Mr. Anders Johan Andersson,0,39.0,1,5,31.2750,0-0,0to10
15,0,3,Miss. Hulda Amanda Adolfina Vestrom,1,14.0,0,0,7.8542,0-0,0to10
16,1,2,Mrs. (Mary D Kingcome) Hewlett,1,55.0,0,0,16.0000,0-0,0to10
17,0,3,Master. Eugene Rice,0,2.0,4,1,29.1250,0-0,0to10
18,1,2,Mr. Charles Eugene Williams,0,23.0,0,0,13.0000,0-0,0to10
19,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,1,31.0,1,0,18.0000,0-0,0to10
20,1,3,Mrs. Fatima Masselmani,1,22.0,0,0,7.2250,0-0,0to10
21,0,2,Mr. Joseph J Fynney,0,35.0,0,0,26.0000,0-0,0to10
22,1,2,Mr. Lawrence Beesley,0,34.0,0,0,13.0000,0-0,0to10
23,1,3,Miss. Anna McGowan,1,15.0,0,0,8.0292,0-0,0to10
24,1,1,Mr. William Thompson Sloper,0,28.0,0,0,35.5000,0-0,0to10
25,0,3,Miss. Torborg Danira Palsson,1,8.0,3,1,21.0750,0-0,0to10
26,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,1,38.0,1,5,31.3875,0-0,0to10
27,0,3,Mr. Farred Chehab Emir,0,26.0,0,0,7.2250,0-0,0to10
28,0,1,Mr. Charles Alexander Fortune,0,19.0,3,2,263.0000,0-0,0to10
29,1,3,Miss. Ellen O'Dwyer,1,24.0,0,0,7.8792,0-0,0to10
30,0,3,Mr. Lalio Todoroff,0,23.0,0,0,7.8958,0-0,0to10
...,...,...,...,...,...,...,...,...,...,...
858,0,2,Mr. Frederick Edward Giles,0,21.0,1,0,11.5000,0-0,0to10
859,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...,1,48.0,0,0,25.9292,0-0,0to10
860,0,3,Miss. Dorothy Edith Sage,1,14.0,8,2,69.5500,0-0,0to10
861,0,2,Mr. John William Gill,0,24.0,0,0,13.0000,0-0,0to10
862,1,2,Mrs. (Karolina) Bystrom,1,42.0,0,0,13.0000,0-0,0to10
863,1,2,Miss. Asuncion Duran y More,1,27.0,1,0,13.8583,0-0,0to10
864,0,1,Mr. Washington Augustus II Roebling,0,31.0,0,0,50.4958,0-0,0to10
865,0,3,Mr. Philemon van Melkebeke,0,23.0,0,0,9.5000,0-0,0to10
866,1,3,Master. Harold Theodor Johnson,0,4.0,1,1,11.1333,0-0,0to10
867,0,3,Mr. Cerin Balkic,0,26.0,0,0,7.8958,0-0,0to10
868,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,1,47.0,1,1,52.5542,0-0,0to10
869,0,1,Mr. Frans Olof Carlsson,0,33.0,0,0,5.0000,0-0,0to10
870,0,3,Mr. Victor Vander Cruyssen,0,47.0,0,0,9.0000,0-0,0to10
871,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,1,28.0,1,0,24.0000,0-0,0to10
872,1,3,Miss. Adele Kiamie Najib,1,15.0,0,0,7.2250,0-0,0to10
873,0,3,Mr. Alfred Ossian Gustafsson,0,20.0,0,0,9.8458,0-0,0to10
874,0,3,Mr. Nedelio Petroff,0,19.0,0,0,7.8958,0-0,0to10
875,0,3,Mr. Kristo Laleff,0,23.0,0,0,7.8958,0-0,0to10
876,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,1,56.0,0,1,83.1583,0-0,0to10
877,1,2,Mrs. William (Imanita Parrish Hall) Shelley,1,25.0,0,1,26.0000,0-0,0to10
878,0,3,Mr. Johann Markun,0,33.0,0,0,7.8958,0-0,0to10
879,0,3,Miss. Gerda Ulrika Dahlberg,1,22.0,0,0,10.5167,0-0,0to10
880,0,2,Mr. Frederick James Banfield,0,28.0,0,0,10.5000,0-0,0to10
881,0,3,Mr. Henry Jr Sutehall,0,25.0,0,0,7.0500,0-0,0to10
882,0,3,Mrs. William (Margaret Norton) Rice,1,39.0,0,5,29.1250,0-0,0to10
883,0,2,Rev. Juozas Montvila,0,27.0,0,0,13.0000,0-0,0to10
884,1,1,Miss. Margaret Edith Graham,1,19.0,0,0,30.0000,0-0,0to10
885,0,3,Miss. Catherine Helen Johnston,1,7.0,1,2,23.4500,0-0,0to10
886,1,1,Mr. Karl Howell Behr,0,26.0,0,0,30.0000,0-0,0to10
887,0,3,Mr. Patrick Dooley,0,32.0,0,0,7.7500,0-0,0to10

In [25]:
age = titanic['Age'] 
fare = titanic['Fare']

In [26]:
for p in range(len(titanic['Age'])):
    if (p != 0):
        if((age.loc[p] < 10) and (age.loc[p] > 0)):
            
            new_age.loc[p] = "" + str(0) + "-" + str(10) + ""
            
        elif ((age.loc[p] < 20) and (age.loc[p] > 10)):
            
            new_age.loc[p] = "" + str(11) + "-" + str(20) + ""
            
        elif ((age.loc[p] < 30) and (age.loc[p] > 21)):
            
            new_age.loc[p] = "" + str(21) + "-" + str(30) + ""
            
        elif ((age.loc[p] < 40) and (age.loc[p] > 31)):
           
            new_age.loc[p] = "" + str(31) + "-" + str(40) + ""
            
        elif ((age.loc[p] < 50) and (age.loc[p] > 41)):
            
            new_age.loc[p] = "" + str(41) + "-" + str(50) + ""
            
        elif ((age.loc[p] < 60) and (age.loc[p] > 51)):
            
            new_age.loc[p] = "" + str(51) + "-" + str(60) + ""
            
        else:
            
            new_age.loc[p] = "" + str(61) + "+"

C:\Users\Public\Documents\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [27]:
#print(titanic['new_age'])

In [28]:
for p in range(len(titanic['new_fare'])):
    if (p != 0):
        if((fare.loc[p] < 20) and (fare.loc[p] > 0)):
            
            new_fare.loc[p] = "" + str(0) + "to" + str(20) + ""
            
        elif ((fare.loc[p] < 40) and (fare.loc[p] > 20)):
            
            new_fare.loc[p] = "" + str(21) + "to" + str(40) + ""
            
        elif ((fare.loc[p] < 60) and (fare.loc[p] > 40)):
            
            new_fare.loc[p] = "" + str(41) + "to" + str(60) + ""
            
        elif ((fare.loc[p] < 80) and (fare.loc[p] > 60)):
           
            new_fare.loc[p] = "" + str(61) + "to" + str(80) + ""
            
        elif ((fare.loc[p] < 100) and (fare.loc[p] > 80)):
            
            new_fare.loc[p] = "" + str(81) + "to" + str(100) + ""
            
        elif ((fare.loc[p] < 120) and (fare.loc[p] > 100)):
            
            new_fare.loc[p] = "" + str(101) + "to" + str(120) + ""
            
        else:
            
            new_fare.loc[p] = "" + str(121) + "+"

C:\Users\Public\Documents\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [29]:
titanic

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,new_age,new_fare
1,0,3,Mr. Owen Harris Braund,0,22.0,1,0,7.2500,21-30,0to20
2,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,1,38.0,1,0,71.2833,31-40,61to80
3,1,3,Miss. Laina Heikkinen,1,26.0,0,0,7.9250,21-30,0to20
4,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,1,35.0,1,0,53.1000,31-40,41to60
5,0,3,Mr. William Henry Allen,0,35.0,0,0,8.0500,31-40,0to20
6,0,3,Mr. James Moran,0,27.0,0,0,8.4583,21-30,0to20
7,0,1,Mr. Timothy J McCarthy,0,54.0,0,0,51.8625,51-60,41to60
8,0,3,Master. Gosta Leonard Palsson,0,2.0,3,1,21.0750,0-10,21to40
9,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,1,27.0,0,2,11.1333,21-30,0to20
10,1,2,Mrs. Nicholas (Adele Achem) Nasser,1,14.0,1,0,30.0708,11-20,21to40
11,1,3,Miss. Marguerite Rut Sandstrom,1,4.0,1,1,16.7000,0-10,0to20
12,1,1,Miss. Elizabeth Bonnell,1,58.0,0,0,26.5500,51-60,21to40
13,0,3,Mr. William Henry Saundercock,0,20.0,0,0,8.0500,61+,0to20
14,0,3,Mr. Anders Johan Andersson,0,39.0,1,5,31.2750,31-40,21to40
15,0,3,Miss. Hulda Amanda Adolfina Vestrom,1,14.0,0,0,7.8542,11-20,0to20
16,1,2,Mrs. (Mary D Kingcome) Hewlett,1,55.0,0,0,16.0000,51-60,0to20
17,0,3,Master. Eugene Rice,0,2.0,4,1,29.1250,0-10,21to40
18,1,2,Mr. Charles Eugene Williams,0,23.0,0,0,13.0000,21-30,0to20
19,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,1,31.0,1,0,18.0000,61+,0to20
20,1,3,Mrs. Fatima Masselmani,1,22.0,0,0,7.2250,21-30,0to20
21,0,2,Mr. Joseph J Fynney,0,35.0,0,0,26.0000,31-40,21to40
22,1,2,Mr. Lawrence Beesley,0,34.0,0,0,13.0000,31-40,0to20
23,1,3,Miss. Anna McGowan,1,15.0,0,0,8.0292,11-20,0to20
24,1,1,Mr. William Thompson Sloper,0,28.0,0,0,35.5000,21-30,21to40
25,0,3,Miss. Torborg Danira Palsson,1,8.0,3,1,21.0750,0-10,21to40
26,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,1,38.0,1,5,31.3875,31-40,21to40
27,0,3,Mr. Farred Chehab Emir,0,26.0,0,0,7.2250,21-30,0to20
28,0,1,Mr. Charles Alexander Fortune,0,19.0,3,2,263.0000,11-20,121+
29,1,3,Miss. Ellen O'Dwyer,1,24.0,0,0,7.8792,21-30,0to20
30,0,3,Mr. Lalio Todoroff,0,23.0,0,0,7.8958,21-30,0to20
...,...,...,...,...,...,...,...,...,...,...
858,0,2,Mr. Frederick Edward Giles,0,21.0,1,0,11.5000,61+,0to20
859,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...,1,48.0,0,0,25.9292,41-50,21to40
860,0,3,Miss. Dorothy Edith Sage,1,14.0,8,2,69.5500,11-20,61to80
861,0,2,Mr. John William Gill,0,24.0,0,0,13.0000,21-30,0to20
862,1,2,Mrs. (Karolina) Bystrom,1,42.0,0,0,13.0000,41-50,0to20
863,1,2,Miss. Asuncion Duran y More,1,27.0,1,0,13.8583,21-30,0to20
864,0,1,Mr. Washington Augustus II Roebling,0,31.0,0,0,50.4958,61+,41to60
865,0,3,Mr. Philemon van Melkebeke,0,23.0,0,0,9.5000,21-30,0to20
866,1,3,Master. Harold Theodor Johnson,0,4.0,1,1,11.1333,0-10,0to20
867,0,3,Mr. Cerin Balkic,0,26.0,0,0,7.8958,21-30,0to20
868,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,1,47.0,1,1,52.5542,41-50,41to60
869,0,1,Mr. Frans Olof Carlsson,0,33.0,0,0,5.0000,31-40,0to20
870,0,3,Mr. Victor Vander Cruyssen,0,47.0,0,0,9.0000,41-50,0to20
871,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,1,28.0,1,0,24.0000,21-30,21to40
872,1,3,Miss. Adele Kiamie Najib,1,15.0,0,0,7.2250,11-20,0to20
873,0,3,Mr. Alfred Ossian Gustafsson,0,20.0,0,0,9.8458,61+,0to20
874,0,3,Mr. Nedelio Petroff,0,19.0,0,0,7.8958,11-20,0to20
875,0,3,Mr. Kristo Laleff,0,23.0,0,0,7.8958,21-30,0to20
876,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,1,56.0,0,1,83.1583,51-60,81to100
877,1,2,Mrs. William (Imanita Parrish Hall) Shelley,1,25.0,0,1,26.0000,21-30,21to40
878,0,3,Mr. Johann Markun,0,33.0,0,0,7.8958,31-40,0to20
879,0,3,Miss. Gerda Ulrika Dahlberg,1,22.0,0,0,10.5167,21-30,0to20
880,0,2,Mr. Frederick James Banfield,0,28.0,0,0,10.5000,21-30,0to20
881,0,3,Mr. Henry Jr Sutehall,0,25.0,0,0,7.0500,21-30,0to20
882,0,3,Mrs. William (Margaret Norton) Rice,1,39.0,0,5,29.1250,31-40,21to40
883,0,2,Rev. Juozas Montvila,0,27.0,0,0,13.0000,21-30,0to20
884,1,1,Miss. Margaret Edith Graham,1,19.0,0,0,30.0000,11-20,21to40
885,0,3,Miss. Catherine Helen Johnston,1,7.0,1,2,23.4500,0-10,21to40
886,1,1,Mr. Karl Howell Behr,0,26.0,0,0,30.0000,21-30,21to40
887,0,3,Mr. Patrick Dooley,0,32.0,0,0,7.7500,0-0,0to10

In [30]:
#titanic['Survived'] = str(titanic["Survived"])
#titanic['Pclass'] = str(titanic['Pclass'])
#titanic['Siblings/Spouses Aboard'] = str(titanic['Siblings/Spouses Aboard'])
#titanic['Parents/Children Aboard'] = str(titanic['Parents/Children Aboard'])

In [31]:
titanic = titanic.drop(columns = ['Age', 'Fare', 'Name'])
titanic

,Survived,Pclass,Sex,Siblings/Spouses Aboard,Parents/Children Aboard,new_age,new_fare
1,0,3,0,1,0,21-30,0to20
2,1,1,1,1,0,31-40,61to80
3,1,3,1,0,0,21-30,0to20
4,1,1,1,1,0,31-40,41to60
5,0,3,0,0,0,31-40,0to20
6,0,3,0,0,0,21-30,0to20
7,0,1,0,0,0,51-60,41to60
8,0,3,0,3,1,0-10,21to40
9,1,3,1,0,2,21-30,0to20
10,1,2,1,1,0,11-20,21to40
11,1,3,1,1,1,0-10,0to20
12,1,1,1,0,0,51-60,21to40
13,0,3,0,0,0,61+,0to20
14,0,3,0,1,5,31-40,21to40
15,0,3,1,0,0,11-20,0to20
16,1,2,1,0,0,51-60,0to20
17,0,3,0,4,1,0-10,21to40
18,1,2,0,0,0,21-30,0to20
19,0,3,1,1,0,61+,0to20
20,1,3,1,0,0,21-30,0to20
21,0,2,0,0,0,31-40,21to40
22,1,2,0,0,0,31-40,0to20
23,1,3,1,0,0,11-20,0to20
24,1,1,0,0,0,21-30,21to40
25,0,3,1,3,1,0-10,21to40
26,1,3,1,1,5,31-40,21to40
27,0,3,0,0,0,21-30,0to20
28,0,1,0,3,2,11-20,121+
29,1,3,1,0,0,21-30,0to20
30,0,3,0,0,0,21-30,0to20
...,...,...,...,...,...,...,...
858,0,2,0,1,0,61+,0to20
859,1,1,1,0,0,41-50,21to40
860,0,3,1,8,2,11-20,61to80
861,0,2,0,0,0,21-30,0to20
862,1,2,1,0,0,41-50,0to20
863,1,2,1,1,0,21-30,0to20
864,0,1,0,0,0,61+,41to60
865,0,3,0,0,0,21-30,0to20
866,1,3,0,1,1,0-10,0to20
867,0,3,0,0,0,21-30,0to20
868,1,1,1,1,1,41-50,41to60
869,0,1,0,0,0,31-40,0to20
870,0,3,0,0,0,41-50,0to20
871,1,2,1,1,0,21-30,21to40
872,1,3,1,0,0,11-20,0to20
873,0,3,0,0,0,61+,0to20
874,0,3,0,0,0,11-20,0to20
875,0,3,0,0,0,21-30,0to20
876,1,1,1,0,1,51-60,81to100
877,1,2,1,0,1,21-30,21to40
878,0,3,0,0,0,31-40,0to20
879,0,3,1,0,0,21-30,0to20
880,0,2,0,0,0,21-30,0to20
881,0,3,0,0,0,21-30,0to20
882,0,3,1,0,5,31-40,21to40
883,0,2,0,0,0,21-30,0to20
884,1,1,1,0,0,11-20,21to40
885,0,3,1,1,2,0-10,21to40
886,1,1,0,0,0,21-30,21to40
887,0,3,0,0,0,0-0,0to10

In [37]:
from mlxtend.preprocessing import TransactionEncoder

#oht_ary = te.fit(titanic).transform(titanic, sparse=True)
#sparse_df = pd.SparseDataFrame(te_ary, columns=te.columns_, default_fill_value=False)
#sparse_df

te = TransactionEncoder()
te_ary = te.fit(titanic).transform(titanic)
#View te_ary
print(len(te_ary))
df = pd.DataFrame(te_ary)
df

oht_ary = te.fit(titanic).transform(titanic, sparse=True)
sparse_df = pd.SparseDataFrame(te_ary, columns=te.columns_, default_fill_value=False)

887

In [38]:
from mlxtend.frequent_patterns import apriori
#apriori(df, min_support=0.5, use_colnames=False, max_len=None, n_jobs=1)
apriori(df, min_support=0.003, use_colnames=True)
#apriori(sparse_df, min_support=0.003, use_colnames=True)

     support          itemsets
0   0.003382               (5)
1   0.005637               (7)
2   0.003382              (10)
3   0.006764              (11)
4   0.003382              (15)
5   0.003382              (16)
6   0.004510              (17)
7   0.004510              (20)
8   0.003382              (21)
9   0.003382           (11, 5)
10  0.004510           (11, 7)
11  0.003382           (16, 7)
12  0.004510           (17, 7)
13  0.003382           (20, 7)
14  0.003382           (21, 7)
15  0.003382          (10, 11)
16  0.003382          (10, 15)
17  0.003382          (10, 20)
18  0.003382          (11, 15)
19  0.004510          (17, 11)
20  0.004510          (11, 20)
21  0.003382          (20, 15)
22  0.003382          (16, 21)
23  0.003382          (17, 20)
24  0.004510       (17, 11, 7)
25  0.003382       (11, 20, 7)
26  0.003382       (16, 21, 7)
27  0.003382       (17, 20, 7)
28  0.003382      (10, 11, 15)
29  0.003382      (10, 11, 20)
30  0.003382      (10, 20, 15)
31  0.003382      (11, 20, 15)
32  0.003382      (17, 11, 20)
33  0.003382   (17, 11, 20, 7)
34  0.003382  (10, 11, 20, 15)

In [39]:
frequent_itemsets = apriori(df, min_support=0.003, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support          itemsets  length
0   0.003382               (5)       1
1   0.005637               (7)       1
2   0.003382              (10)       1
3   0.006764              (11)       1
4   0.003382              (15)       1
5   0.003382              (16)       1
6   0.004510              (17)       1
7   0.004510              (20)       1
8   0.003382              (21)       1
9   0.003382           (11, 5)       2
10  0.004510           (11, 7)       2
11  0.003382           (16, 7)       2
12  0.004510           (17, 7)       2
13  0.003382           (20, 7)       2
14  0.003382           (21, 7)       2
15  0.003382          (10, 11)       2
16  0.003382          (10, 15)       2
17  0.003382          (10, 20)       2
18  0.003382          (11, 15)       2
19  0.004510          (17, 11)       2
20  0.004510          (11, 20)       2
21  0.003382          (20, 15)       2
22  0.003382          (16, 21)       2
23  0.003382          (17, 20)       2
24  0.004510       (17, 11, 7)       3
25  0.003382       (11, 20, 7)       3
26  0.003382       (16, 21, 7)       3
27  0.003382       (17, 20, 7)       3
28  0.003382      (10, 11, 15)       3
29  0.003382      (10, 11, 20)       3
30  0.003382      (10, 20, 15)       3
31  0.003382      (11, 20, 15)       3
32  0.003382      (17, 11, 20)       3
33  0.003382   (17, 11, 20, 7)       4
34  0.003382  (10, 11, 20, 15)       4

In [40]:
apriori(df, min_support=0.002, use_colnames=True)

       support                                         itemsets
0     0.002255                                              (0)
1     0.002255                                              (1)
2     0.002255                                              (2)
3     0.002255                                              (4)
4     0.003382                                              (5)
5     0.002255                                              (6)
6     0.005637                                              (7)
7     0.002255                                              (8)
8     0.003382                                             (10)
9     0.006764                                             (11)
10    0.002255                                             (13)
11    0.003382                                             (15)
12    0.003382                                             (16)
13    0.004510                                             (17)
14    0.002255                                             (18)
15    0.004510                                             (20)
16    0.003382                                             (21)
17    0.002255                                             (23)
18    0.002255                                             (25)
19    0.002255                                           (0, 1)
20    0.002255                                           (0, 2)
21    0.002255                                           (0, 7)
22    0.002255                                           (0, 8)
23    0.002255                                          (0, 10)
24    0.002255                                          (0, 11)
25    0.002255                                          (0, 15)
26    0.002255                                          (0, 16)
27    0.002255                                          (0, 17)
28    0.002255                                          (0, 18)
29    0.002255                                          (0, 20)
...        ...                                              ...
8249  0.002255         (0, 2, 7, 8, 11, 15, 16, 17, 18, 20, 21)
8250  0.002255        (0, 2, 7, 10, 11, 15, 16, 17, 18, 20, 21)
8251  0.002255        (0, 2, 8, 10, 11, 15, 16, 17, 18, 20, 21)
8252  0.002255        (0, 7, 8, 10, 11, 15, 16, 17, 18, 20, 21)
8253  0.002255         (1, 2, 7, 8, 10, 11, 15, 16, 17, 18, 20)
8254  0.002255         (1, 2, 7, 8, 10, 11, 15, 16, 17, 18, 21)
8255  0.002255         (1, 2, 7, 8, 10, 11, 15, 16, 17, 20, 21)
8256  0.002255         (1, 2, 7, 8, 10, 11, 15, 16, 18, 20, 21)
8257  0.002255         (1, 2, 7, 8, 10, 11, 15, 17, 18, 20, 21)
8258  0.002255         (1, 2, 7, 8, 10, 11, 16, 17, 18, 20, 21)
8259  0.002255         (1, 2, 7, 8, 10, 15, 16, 17, 18, 20, 21)
8260  0.002255         (1, 2, 7, 8, 11, 15, 16, 17, 18, 20, 21)
8261  0.002255        (1, 2, 7, 10, 11, 15, 16, 17, 18, 20, 21)
8262  0.002255        (1, 2, 8, 10, 11, 15, 16, 17, 18, 20, 21)
8263  0.002255        (1, 7, 8, 10, 11, 15, 16, 17, 18, 20, 21)
8264  0.002255        (2, 7, 8, 10, 11, 15, 16, 17, 18, 20, 21)
8265  0.002255      (0, 1, 2, 7, 8, 10, 11, 15, 16, 17, 18, 20)
8266  0.002255      (0, 1, 2, 7, 8, 10, 11, 15, 16, 17, 18, 21)
8267  0.002255      (0, 1, 2, 7, 8, 10, 11, 15, 16, 17, 20, 21)
8268  0.002255      (0, 1, 2, 7, 8, 10, 11, 15, 16, 18, 20, 21)
8269  0.002255      (0, 1, 2, 7, 8, 10, 11, 15, 17, 18, 20, 21)
8270  0.002255      (0, 1, 2, 7, 8, 10, 11, 16, 17, 18, 20, 21)
8271  0.002255      (0, 1, 2, 7, 8, 10, 15, 16, 17, 18, 20, 21)
8272  0.002255      (0, 1, 2, 7, 8, 11, 15, 16, 17, 18, 20, 21)
8273  0.002255     (0, 1, 2, 7, 10, 11, 15, 16, 17, 18, 20, 21)
8274  0.002255     (0, 1, 2, 8, 10, 11, 15, 16, 17, 18, 20, 21)
8275  0.002255     (0, 1, 7, 8, 10, 11, 15, 16, 17, 18, 20, 21)
8276  0.002255     (0, 2, 7, 8, 10, 11, 15, 16, 17, 18, 20, 21)
8277  0.002255     (1, 2, 7, 8, 10, 11, 15, 16, 17, 18, 20, 21)
8278  0.002255  (0, 1, 2, 7, 8, 10, 11, 15, 16, 17, 18, 20, 21)

[8279 rows x 2 columns]

In [42]:
apriori(df, min_support=0.001, use_colnames=True)

         support                                           itemsets
0       0.002255                                                (0)
1       0.002255                                                (1)
2       0.002255                                                (2)
3       0.001127                                                (3)
4       0.002255                                                (4)
5       0.003382                                                (5)
6       0.002255                                                (6)
7       0.005637                                                (7)
8       0.002255                                                (8)
9       0.001127                                                (9)
10      0.003382                                               (10)
11      0.006764                                               (11)
12      0.001127                                               (12)
13      0.002255                                               (13)
14      0.001127                                               (14)
15      0.003382                                               (15)
16      0.003382                                               (16)
17      0.004510                                               (17)
18      0.002255                                               (18)
19      0.001127                                               (19)
20      0.004510                                               (20)
21      0.003382                                               (21)
22      0.001127                                               (22)
23      0.002255                                               (23)
24      0.001127                                               (24)
25      0.002255                                               (25)
26      0.001127                                               (26)
27      0.002255                                             (0, 1)
28      0.002255                                             (0, 2)
29      0.001127                                             (0, 3)
...          ...                                                ...
254141  0.001127  (0, 1, 2, 3, 4, 7, 8, 10, 11, 14, 16, 17, 18, ...
254142  0.001127  (0, 1, 2, 3, 4, 7, 8, 10, 11, 15, 16, 17, 18, ...
254143  0.001127  (0, 1, 2, 3, 4, 7, 8, 10, 14, 15, 16, 17, 18, ...
254144  0.001127  (0, 1, 2, 3, 4, 7, 8, 11, 14, 15, 16, 17, 18, ...
254145  0.001127  (0, 1, 2, 3, 4, 7, 10, 11, 14, 15, 16, 17, 18,...
254146  0.001127  (0, 1, 2, 3, 4, 8, 10, 11, 14, 15, 16, 17, 18,...
254147  0.001127  (0, 1, 2, 3, 7, 8, 10, 11, 14, 15, 16, 17, 18,...
254148  0.001127  (0, 1, 2, 4, 7, 8, 10, 11, 14, 15, 16, 17, 18,...
254149  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 13, 15, 16, 17, 18,...
254150  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 13, 15, 16, 17, 18,...
254151  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 13, 15, 16, 17, 18,...
254152  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 13, 15, 16, 17, 18,...
254153  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 13, 15, 16, 17, 19,...
254154  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 13, 15, 16, 18, 19,...
254155  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 13, 15, 17, 18, 19,...
254156  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 13, 16, 17, 18, 19,...
254157  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 15, 16, 17, 18, 19,...
254158  0.001127  (0, 1, 2, 5, 7, 8, 10, 13, 15, 16, 17, 18, 19,...
254159  0.001127  (0, 1, 2, 5, 7, 8, 11, 13, 15, 16, 17, 18, 19,...
254160  0.001127  (0, 1, 2, 5, 7, 10, 11, 13, 15, 16, 17, 18, 19...
254161  0.001127  (0, 1, 2, 5, 8, 10, 11, 13, 15, 16, 17, 18, 19...
254162  0.001127  (0, 1, 2, 7, 8, 10, 11, 13, 15, 16, 17, 18, 19...
254163  0.001127  (0, 1, 3, 4, 7, 8, 10, 11, 14, 15, 16, 17, 18,...
254164  0.001127  (0, 1, 5, 7, 8, 10, 11, 13, 15, 16, 17, 18, 19...
254165  0.001127  (0, 2, 3, 4, 7, 8, 10, 11, 14, 15, 16, 17, 18,...
254166  0.001127  (0, 2, 5, 7, 8, 10, 11, 13, 15, 16, 17, 18, 19...
254167  0.001127  (1, 2, 3, 4, 7, 8, 10, 11, 14, 15, 16, 17, 18,...
254168  0.001127  (1, 2, 5, 7, 8, 10, 11, 13, 15, 16, 17, 18, 19...
254169  0.001127  (0, 1, 2, 3, 4, 7, 8, 10, 11, 14, 15, 16, 17, ...
254170  0.001127  (0, 1, 2, 5, 7, 8, 10, 11, 13, 15, 16, 17, 18,...

[254171 rows x 2 columns]

In [44]:
from mlxtend.frequent_patterns import association_rules

association = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [46]:
association

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5),(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
1,(7),(11),0.005637,0.006764,0.004510,0.80,118.266667,0.004471,4.966178
2,(16),(7),0.003382,0.005637,0.003382,1.00,177.400000,0.003363,inf
3,(17),(7),0.004510,0.005637,0.004510,1.00,177.400000,0.004484,inf
4,(7),(17),0.005637,0.004510,0.004510,0.80,177.400000,0.004484,4.977452
5,(20),(7),0.004510,0.005637,0.003382,0.75,133.050000,0.003357,3.977452
6,(21),(7),0.003382,0.005637,0.003382,1.00,177.400000,0.003363,inf
7,(10),(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
8,(10),(15),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
9,(15),(10),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
10,(10),(20),0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
11,(20),(10),0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
12,(15),(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
13,(17),(11),0.004510,0.006764,0.004510,1.00,147.833333,0.004479,inf
14,(20),(11),0.004510,0.006764,0.004510,1.00,147.833333,0.004479,inf
15,(20),(15),0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
16,(15),(20),0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
17,(16),(21),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
18,(21),(16),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
19,(17),(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
20,(20),(17),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
21,"(17, 11)",(7),0.004510,0.005637,0.004510,1.00,177.400000,0.004484,inf
22,"(17, 7)",(11),0.004510,0.006764,0.004510,1.00,147.833333,0.004479,inf
23,"(11, 7)",(17),0.004510,0.004510,0.004510,1.00,221.750000,0.004489,inf
24,(17),"(11, 7)",0.004510,0.004510,0.004510,1.00,221.750000,0.004489,inf
25,(7),"(17, 11)",0.005637,0.004510,0.004510,0.80,177.400000,0.004484,4.977452
26,"(11, 20)",(7),0.004510,0.005637,0.003382,0.75,133.050000,0.003357,3.977452
27,"(11, 7)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
28,"(20, 7)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
29,(20),"(11, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
...,...,...,...,...,...,...,...,...,...
61,"(17, 11)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
62,"(17, 20)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
63,"(11, 20)",(17),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
64,(17),"(11, 20)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
65,(20),"(17, 11)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
66,"(17, 11, 20)",(7),0.003382,0.005637,0.003382,1.00,177.400000,0.003363,inf
67,"(17, 11, 7)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
68,"(17, 20, 7)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
69,"(11, 20, 7)",(17),0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
70,"(17, 11)","(20, 7)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
71,"(17, 20)","(11, 7)",0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
72,"(17, 7)","(11, 20)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
73,"(11, 20)","(17, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
74,"(11, 7)","(17, 20)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
75,"(20, 7)","(17, 11)",0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
76,(17),"(11, 20, 7)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
77,(20),"(17, 11, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
78,"(10, 11, 20)",(15),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
79,"(10, 11, 15)",(20),0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
80,"(10, 20, 15)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
81,"(11, 20, 15)",(10),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
82,"(10, 11)","(20, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
83,"(10, 20)","(11, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
84,"(10, 15)","(11, 20)",0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
85,"(11, 20)","(10, 15)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
86,"(11, 15)","(10, 20)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
87,"(20, 15)","(10, 11)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
88,(10),"(11, 20, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
89,(20),"(10, 11, 15)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
90,(15),"(10, 11, 20)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf

In [48]:
association.sort_values(by=['confidence'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5),(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
50,"(10, 20)",(15),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
58,"(20, 15)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
57,"(11, 15)",(20),0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
55,(15),"(10, 20)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
53,(10),"(20, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
52,"(20, 15)",(10),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
51,"(10, 15)",(20),0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
48,(10),"(11, 20)",0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
35,"(17, 20)",(7),0.003382,0.005637,0.003382,1.00,177.400000,0.003363,inf
46,"(10, 20)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
44,(15),"(10, 11)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
43,(10),"(11, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
42,"(11, 15)",(10),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
41,"(10, 15)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
40,"(10, 11)",(15),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
60,(15),"(11, 20)",0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
62,"(17, 20)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
66,"(17, 11, 20)",(7),0.003382,0.005637,0.003382,1.00,177.400000,0.003363,inf
68,"(17, 20, 7)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
69,"(11, 20, 7)",(17),0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
71,"(17, 20)","(11, 7)",0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
75,"(20, 7)","(17, 11)",0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
78,"(10, 11, 20)",(15),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
79,"(10, 11, 15)",(20),0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
80,"(10, 20, 15)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
81,"(11, 20, 15)",(10),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
82,"(10, 11)","(20, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
83,"(10, 20)","(11, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
84,"(10, 15)","(11, 20)",0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
...,...,...,...,...,...,...,...,...,...
1,(7),(11),0.005637,0.006764,0.004510,0.80,118.266667,0.004471,4.966178
38,(17),"(20, 7)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
85,"(11, 20)","(10, 15)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
5,(20),(7),0.004510,0.005637,0.003382,0.75,133.050000,0.003357,3.977452
39,(20),"(17, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
73,"(11, 20)","(17, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
89,(20),"(10, 11, 15)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
29,(20),"(11, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
11,(20),(10),0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
77,(20),"(17, 11, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
76,(17),"(11, 20, 7)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
74,"(11, 7)","(17, 20)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
72,"(17, 7)","(11, 20)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
54,(20),"(10, 15)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
26,"(11, 20)",(7),0.004510,0.005637,0.003382,0.75,133.050000,0.003357,3.977452
56,"(11, 20)",(15),0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
20,(20),(17),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
19,(17),(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
59,(20),"(11, 15)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
49,(20),"(10, 11)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
61,"(17, 11)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
36,"(17, 7)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
70,"(17, 11)","(20, 7)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
64,(17),"(11, 20)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
65,(20),"(17, 11)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
47,"(11, 20)",(10),0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
67,"(17, 11, 7)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
15,(20),(15),0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
27,"(11, 7)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
63,"(11, 20)",(17),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962

The top 5 association rules are: 
{5} -> 11
{10, 20} -> 15
{20, 15} -> 11
{11, 15} -> 20
{15} -> {10, 20}

The confidence are at a value of 1. So they are the strongest assoociation rules.

In [49]:
association.sort_values(by=['lift'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
90,(15),"(10, 11, 20)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
17,(16),(21),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
44,(15),"(10, 11)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
40,"(10, 11)",(15),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
50,"(10, 20)",(15),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
34,(21),"(16, 7)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
33,(16),"(21, 7)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
32,"(21, 7)",(16),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
31,"(16, 7)",(21),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
52,"(20, 15)",(10),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
53,(10),"(20, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
55,(15),"(10, 20)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
43,(10),"(11, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
18,(21),(16),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
42,"(11, 15)",(10),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
83,"(10, 20)","(11, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
8,(10),(15),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
78,"(10, 11, 20)",(15),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
88,(10),"(11, 20, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
81,"(11, 20, 15)",(10),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
87,"(20, 15)","(10, 11)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
86,"(11, 15)","(10, 20)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
82,"(10, 11)","(20, 15)",0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
9,(15),(10),0.003382,0.003382,0.003382,1.00,295.666667,0.003371,inf
89,(20),"(10, 11, 15)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
47,"(11, 20)",(10),0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
48,(10),"(11, 20)",0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
49,(20),"(10, 11)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
51,"(10, 15)",(20),0.003382,0.004510,0.003382,1.00,221.750000,0.003367,inf
85,"(11, 20)","(10, 15)",0.004510,0.003382,0.003382,0.75,221.750000,0.003367,3.986471
...,...,...,...,...,...,...,...,...,...
20,(20),(17),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
67,"(17, 11, 7)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
72,"(17, 7)","(11, 20)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
73,"(11, 20)","(17, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
77,(20),"(17, 11, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
19,(17),(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
61,"(17, 11)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
65,(20),"(17, 11)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
64,(17),"(11, 20)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
63,"(11, 20)",(17),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
27,"(11, 7)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
29,(20),"(11, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
36,"(17, 7)",(20),0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
39,(20),"(17, 7)",0.004510,0.004510,0.003382,0.75,166.312500,0.003362,3.981962
12,(15),(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
7,(10),(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
13,(17),(11),0.004510,0.006764,0.004510,1.00,147.833333,0.004479,inf
80,"(10, 20, 15)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
41,"(10, 15)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
14,(20),(11),0.004510,0.006764,0.004510,1.00,147.833333,0.004479,inf
22,"(17, 7)",(11),0.004510,0.006764,0.004510,1.00,147.833333,0.004479,inf
68,"(17, 20, 7)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
62,"(17, 20)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
58,"(20, 15)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
28,"(20, 7)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
46,"(10, 20)",(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
0,(5),(11),0.003382,0.006764,0.003382,1.00,147.833333,0.003359,inf
5,(20),(7),0.004510,0.005637,0.003382,0.75,133.050000,0.003357,3.977452
26,"(11, 20)",(7),0.004510,0.005637,0.003382,0.75,133.050000,0.003357,3.977452
1,(7),(11),0.005637,0.006764,0.004510,0.80,118.266667,0.004471,4.966178

The top 5 association rules are: 
{15} -> {10, 11, 20}
{16} -> 21
{15} -> {10, 11}
{10, 11} -> 15
{10, 20} -> {15}

The lift values are at a value of 295.6667. So they are the strongest assoociation rules.